<option value="0">&nbsp;0&nbsp;</option>
<option value="0.5">&nbsp;0+&nbsp;</option>
<option value="1">&nbsp;1&nbsp;</option>
<option value="1.5">&nbsp;1+&nbsp;</option>
<option value="2">&nbsp;2&nbsp;</option>
<option value="2.5">&nbsp;2+&nbsp;</option>
<option value="3">&nbsp;3&nbsp;</option>
<option value="3.5">&nbsp;3+&nbsp;</option>
<option value="4">&nbsp;4&nbsp;</option>
<option value="4.5">&nbsp;4+&nbsp;</option>
<option value="5">&nbsp;5&nbsp;</option>
<option value="5.5">&nbsp;5+&nbsp;</option>
<option value="6">&nbsp;6&nbsp;</option>
<option value="6.5">&nbsp;6+&nbsp;</option>
<option value="7">&nbsp;7&nbsp;</option>
<option value="7.5">&nbsp;7+&nbsp;</option>
<option value="8">&nbsp;8&nbsp;</option>
<option value="8.5">&nbsp;8+&nbsp;</option>
<option value="9">&nbsp;9&nbsp;</option>
<option value="9.5">&nbsp;9+&nbsp;</option>
<option value="10">&nbsp;10&nbsp;</option>
<option value="10.5">&nbsp;10+&nbsp;</option>
<option value="11">&nbsp;11&nbsp;</option>
<option value="11.5">&nbsp;11+&nbsp;</option>
<option value="12">&nbsp;12&nbsp;</option>
<option value="12.5">&nbsp;12+&nbsp;</option>